<nav class="nav__bg">
  <div class="nav__container">
    <div class="list">
      <ul>
        <li><a href="#">Notícias</a></li>
        <li><a href="#">Últimas Notícias</a></li>
        <li><a href="#">Mais Lidas</a></li>
        <li><a href="#">Tutoriais</a></li>
        <li><a href="#">Colunas</a></li>
        <li><a href="#">Comparar</a></li>
        <li><a href="#">Cupons de Desconto</a></li>
        <li><a href="#">Anuncie</a></li>
        <li><a href="#">Teste de Velocidade</a></li>
      </ul>
    </div>
  </div>
</nav>
