.container__big-card{
  width: 618px;
  height: 100%;

}

.container__big-card-photo>img{
  border-radius: 10px 10px 0px 0px;

}

.big-card__title{
  height: 170px;
  font-size: 15px;
  padding-left: 25px;
  border: solid 1px rgb(231, 230, 230);
  border-radius: 0px 0px 10px 10px;
  border-top: none;

}
