
<div class="cabecalho-home-principal__bg">
  <div class="cabecalho-home-principal__container">
    <h1>Blog</h1>
    <div class="cabecalho-info">
        <div class="social-media__cabecalho">
          <ul>
            <li><a href="https://www.instagram.com/_vinicius.gomess/"><img src="../../../../assets/icons/logo-instagram.png" alt=""></a></li>
            <li><a href="https://github.com/Viniciusgoms"><img src="../../../../assets/icons/logo-github.png" alt=""></a></li>
            <li><a href="https://www.linkedin.com/in/viniciusgomss/"><img src="../../../../assets/icons/logo-linkedin.png" alt=""></a></li>
          </ul>
        </div>

        <hr/>

        <div class="info-count__cabecalho">
          <span>70 Notícias publicadas</span>
        </div>
    </div>
  </div>
  <hr/>
</div>



