
  <div class="home-principal__container">
    <app-cabecalho-home-principal></app-cabecalho-home-principal>

    <div class="main__container">
      <div class="title-main">
        <app-title-section-home-principal titleSection="Destaques"></app-title-section-home-principal>
      </div>

      <div class="card__container">

        <div class="big-card">
          <app-big-card-home-principal
          Id="1"
          photoCover="https://tm.ibxk.com.br/2021/06/09/09112545298093.jpg?ims=532x336"
          bigCardTitle="GIF:Descubra o que é e como usar o formato"
          >
          </app-big-card-home-principal>
        </div>

        <div class="small-cards">
          <app-small-card-home-principal
          Id="1"
          photoCover="https://tm.ibxk.com.br/2021/06/02/02173708942429.jpg?ims=252x144"
          smallCardTitle="Trump mata seu blog 29 dias após lançamento por baixa audiência"
          >
          </app-small-card-home-principal>
          <app-small-card-home-principal
          Id="2"
          photoCover="https://tm.ibxk.com.br/2017/09/13/13174336940009.jpg?ims=252x144"
          smallCardTitle="Novo projeto de lei quer regulamentar profissão de Blogueiro"
          >
          </app-small-card-home-principal>
        </div>
      </div>
    </div>

    <div>

      <div class="list__container">

        <div class="title-list">
          <app-title-section-home-principal titleSection="Ultimas notícias Blog"></app-title-section-home-principal>
        </div>

        <div class="list-card-news__container">
          <div>
            <app-card-news
            Id="1"
            photoCover="https://tm.ibxk.com.br/2017/03/23/23184106990323.jpg?ims=164x118"
            cardNewsTitle="Google libera novos temas para você personalizar seu blog"
            cardDescription="25/3/2018"
            >
            </app-card-news>
          </div>
          <div>
            <app-card-news
            Id="2"
            photoCover="https://tm.ibxk.com.br/2017/02/07/07083240110079.jpg?ims=164x118"
            cardNewsTitle="Medium aposta em sistema de assinaturas como sua salvação"
            cardDescription="08/6/2018"
            >
            </app-card-news>
          </div>
          <div>
            <app-card-news
            Id="3"
            photoCover="https://tm.ibxk.com.br/2016/12/02/02173020500467.jpg?ims=164x118"
            cardNewsTitle="Crie uma playlist no Spotify e compartilhe em blogs ou redes sociais"
            cardDescription="2/12/2018"
            >
            </app-card-news>
          </div>
          <div>
            <app-card-news
            Id="4"
            photoCover="https://tm.ibxk.com.br/2016/09/20/20174026918172.jpg?ims=164x118"
            cardNewsTitle="youPIX CON: veja ao vivo o maior evento sobre criação de conteúdo para web"
            cardDescription="20/09/2018"
            >
            </app-card-news>
          </div>
          <div>
            <app-card-news
            Id="5"
            photoCover="https://tm.ibxk.com.br/2016/05/20/20085713209442.jpg?ims=164x118"
            cardNewsTitle="Temer quer reter patrocínio do governo a Encontro Nacional de Blogueiros"
            cardDescription="20/5/2018"
            >
            </app-card-news>
          </div>
          <div>
            <app-card-news
            Id="6"
            photoCover="https://tm.ibxk.com.br/2015/11/26/26171242191506.jpg?ims=164x118"
            cardNewsTitle="Blogueira prepara pão usando fungos de sua própria casa"
            cardDescription="26/11/2018"
            >
            </app-card-news>
          </div>
          <div>
            <app-card-news
            Id="7"
            photoCover="https://tm.ibxk.com.br/2015/05/29/29155337847441.jpg?ims=164x118"
            cardNewsTitle="Google é notificado por MP carioca para tirar site de adoções do ar"
            cardDescription="14/08/2018"
            >
            </app-card-news>
          </div>
          <div>
            <app-card-news
            Id="8"
            photoCover="https://tm.ibxk.com.br/2015/05/26/26115215137357.jpg?ims=164x118"
            cardNewsTitle="Blogger Brasil será totalmente encerrado em julho"
            cardDescription="29/03/2018"
            >
            </app-card-news>
          </div>
          <div>
            <app-card-news
            Id="9"
            photoCover="https://tm.ibxk.com.br/2015/02/27/27103026750158.jpg?ims=164x118"
            cardNewsTitle="Google desiste de bloquear conteúdos adultos no Blogger"
            cardDescription="27/05/2015"
            >
            </app-card-news>
          </div>
      </div>
    </div>

  </div>

