.home-principal__container{
  height: auto;
  width: 945px;
  box-sizing: border-box;
}

.title-main{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 17px;
}
.main__container{
  padding-top: 25px;
  box-sizing: border-box;
}

.big-card{
  height: auto;
}

.card__container{
  display: flex;
  justify-content: space-between;

}

.title-list{
  margin-top: 30px;
  margin-bottom: 30px;
}

.list__container{
  margin-top: 15px;
}
