
.container__small-card{
  width: 300px;
  margin-bottom: 20px;
}

.small-card__title{
  width: 100%;
  font-weight: bold;
  margin-top: 8px;
  font-size: 20px;
}

.container__small-card-photo>img{
  width: 100%;
  border-radius: 10px 10px 10px 10px;

}
